@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My Page <a href="https://localhost:7175/MyPage">Click Here</a></p>
    <p>Players<a href="https://localhost:7175/Players"> Click Here</a></p>
    <p>Random Number<a href="https://localhost:7175/RandomNumber"> Click Here</a></p>
    <p>News<a href="https://localhost:7175/News"> Click Here</a></p>
    <p>Kris Information<a href="https://localhost:7175/krisinfolista">Click Here</a></p>

</div>

<p>
    @Model.Nu;
</p>

<table>
    <tr>
        <td>

        </td>
    </tr>
</table>